h1{
    color: crimson;
    text-align:center;
    background-color: chartreuse;
    text-decoration: underline burlywood;
    text-shadow: 3px 4px 5px blue;
}
body{
    background-color: lightskyblue;
    font-weight:bold ;
    font-size: larger;
    background-image: url("/home/student/Downloads/image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color:seashell;
    text-align: center;

}
p{
    color: black;
    background-color:bisque;
    margin-top: 20px;
    margin-bottom: 20px;
    border: darkred ;
    border-width: 20px;
    text-shadow: 3px 4px 3px gray;
}