h1{
    color: rgb(255, 194, 61);
    text-align:center;
    text-decoration: underline rgb(36, 121, 247);
    text-shadow: 5px 4px 5px rgb(77, 76, 72);
}
body{
    font-weight:bold ;
    font-size: larger;
    background-image:url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(251, 255, 40);
    text-shadow: 3px 2px 4px rgb(247, 90, 0);
    text-align: center;

}
img{
    border-radius: 20px;
    border-style: groove;
    border-color: rgb(255, 191, 0) ;
    padding: auto;
   
}

